<a href="https://colab.research.google.com/github/wonders12/Colab/blob/master/myfirstcolabnotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import time
print(time.ctime())

Sat Jul 11 23:02:52 2020

In [5]:
time.sleep(5)
print(time.ctime())

Sat Jul 11 23:02:58 2020

This is **bold**.

This is *italic*.

This is ~strikethrough~.

$\sqrt{3x-1}+(1+x)^2$

$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$

Constraints are:
  - $3x_1 + 6x_2 + x_3 =< 28$
  - $7x_1 + 3x_2 +2x_3 =< 37$
  - $4x_1 + 5x_2 + 2x_3 =< 19$
  - $x_1,x_2,x_3 >=0$

The trial vector is calculated as follows:
- $u_{i}(t)=x_{i}(t)+\beta(\hat{x}(t)-x_{i}(t))+\beta\sum_{k=1}^{n_{v}}(x_{{i1},k(t)}-x_{{i2},k(t)})$

$f(x_{1},x_{2})=20+e-20exp(-0.2\sqrt{\frac{1}{n}(x_{1}^{2}+x_{2}^{2})}-exp(\frac{1}{n}cos(2\pi x_{1})+cos(2\pi x_{2}))x \in [-5,5]$

$A_{m,n} = 
  \begin{pmatrix}
  a_{1,1} \hspace{0.2in} a_{1,2} \hspace{0.2in}\cdots \hspace{0.2in}a_{1,n} \newline
  a_{2,1} \hspace{0.2in} a_{2,2} \hspace{0.2in}\cdots \hspace{0.2in}a_{2,n} \newline
\vdots \hspace{0.0in} \vdots \hspace{0.4in} \ddots \hspace{0in} \vdots \newline
a_{m,1} \hspace{0.2in} a_{m,2} \hspace{0.2in} \cdots \hspace{0.2in} a_{m,n}
  \end{pmatrix}$

In [1]:
message = 'A Great Tutorial on Colab by Tutorialspoint!'
greeting = !echo -e '$message\n$message'
greeting

['A Great Tutorial on Colab by Tutorialspoint!',
 'A Great Tutorial on Colab by Tutorialspoint!']

In [2]:
!wget http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.data -P "/content/drive/My Drive/app"

--2020-07-12 00:50:19--  http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.data
Resolving mlr.cs.umass.edu (mlr.cs.umass.edu)... 128.119.246.96
Connecting to mlr.cs.umass.edu (mlr.cs.umass.edu)|128.119.246.96|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [text/plain]
Saving to: ‘/content/drive/My Drive/app/adult.data’

adult.data          100%[===================>]   3.79M  1.37MB/s    in 2.8s

2020-07-12 00:50:22 (1.37 MB/s) - ‘/content/drive/My Drive/app/adult.data’ saved [3974305/3974305]

In [8]:
import pandas as pd
data = pd.read_csv("/content/drive/My Drive/app/adult.data")
data.head(10)

   39          State-gov   77516  ...  40   United-States   <=50K
0  50   Self-emp-not-inc   83311  ...  13   United-States   <=50K
1  38            Private  215646  ...  40   United-States   <=50K
2  53            Private  234721  ...  40   United-States   <=50K
3  28            Private  338409  ...  40            Cuba   <=50K
4  37            Private  284582  ...  40   United-States   <=50K
5  49            Private  160187  ...  16         Jamaica   <=50K
6  52   Self-emp-not-inc  209642  ...  45   United-States    >50K
7  31            Private   45781  ...  50   United-States    >50K
8  42            Private  159449  ...  40   United-States    >50K
9  37            Private  280464  ...  80   United-States    >50K

[10 rows x 15 columns]

In [31]:
data.head(5)

   39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
0  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
1  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
2  53            Private  234721        11th  ...   0  40   United-States   <=50K
3  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K
4  37            Private  284582     Masters  ...   0  40   United-States   <=50K

[5 rows x 15 columns]

In [32]:
!git clone https://github.com/wxs/keras-mnist-tutorial.git

Cloning into 'keras-mnist-tutorial'...
remote: Enumerating objects: 26, done.
remote: Total 26 (delta 0), reused 0 (delta 0), pack-reused 26
Unpacking objects: 100% (26/26), done.